<h5>Catégories</h5>

<div class="list-group">
  <a
    class="list-group-item d-flex justify-content-between align-items-center"
    href="#"
  >
    Les gentils
    <span class="badge badge-primary badge-pill"><%= goodFigurinesNbr %></span>
  </a>
  <a
    class="list-group-item d-flex justify-content-between align-items-center"
    href="#"
  >
    Les méchants
    <span class="badge badge-primary badge-pill"><%= evilFigurinesNbr %></span>
  </a>
  <a
    class="list-group-item d-flex justify-content-between align-items-center"
    href="#"
  >
    Les animaux
    <span class="badge badge-primary badge-pill"><%= animalFigurinesNbr %></span>
  </a>
</div>